export(
"invClust",
"invGenotypes",
"invQuality",
"invFreq",
"selectSNPsLD")

exportClasses(
"incVlust")

S3method(print,"invClust")
S3method(plot,"invClust")
S3method("[","invClust")

importClassesFrom(methods,list,matrix,numeric,vector)
importClassesFrom(snpStats,SnpMatrix)
importFrom(snpStats,col.summary,ld)
importFrom(MASS,ginv)
importFrom(graphics,plot,points,hist,contour)
importFrom(methods,as,is,new)
importFrom(mclust,Mclust)
importFrom(mvtnorm,rmvnorm,dmvnorm)
importFrom(e1071,skewness)


